data/UTM_Grids/12.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/13.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/16.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/17.json filter=lfs diff=lfs merge=lfs -text
data/Coordinate_Systems/coordinate_systems.json filter=lfs diff=lfs merge=lfs -text
data/Original/US_Counties_Original.json filter=lfs diff=lfs merge=lfs -text
data/Original/usgs_projects_filtered.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/2.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/8.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/10.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/14.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/19.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/4.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/5.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/6.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/7.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/9.json filter=lfs diff=lfs merge=lfs -text
data/Coordinate_Systems/defs.json filter=lfs diff=lfs merge=lfs -text
data/Original/usgs_projects_raw.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/15.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/18.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/3.json filter=lfs diff=lfs merge=lfs -text
data/Original/2021-spcs.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/1.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/11.json filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/14.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Iowa.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Nevada.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/North[[:space:]]Dakota.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Virginia.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Washington.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Alaska.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Maine.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/New[[:space:]]Mexico.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/7.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Arkansas.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/New[[:space:]]Hampshire.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/New[[:space:]]York.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Tennessee.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/13.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Rhode[[:space:]]Island.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/South[[:space:]]Carolina.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/11.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Mississippi.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Nebraska.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Texas.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Wisconsin.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/6.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Montana.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/10.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Connecticut.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Oregon.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/9.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Wyoming.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/12.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Delaware.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Illinois.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Indiana.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Minnesota.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Pennsylvania.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Hawaii.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Idaho.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/15.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/18.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/5.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Alabama.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Maryland.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Oklahoma.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/19.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/2.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/4.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/California.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Kansas.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Utah.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Washington[[:space:]]DC.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/17.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Louisiana.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/North[[:space:]]Carolina.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/West[[:space:]]Virginia.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Kentucky.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Massachusetts.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Vermont.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Arizona.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/New[[:space:]]Jersey.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/1.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/16.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/3.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Florida.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/South[[:space:]]Dakota.geojson filter=lfs diff=lfs merge=lfs -text
data/UTM_Grids/8.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Colorado.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Georgia.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Michigan.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Missouri.geojson filter=lfs diff=lfs merge=lfs -text
data/State_Counties_Detailed/Ohio.geojson filter=lfs diff=lfs merge=lfs -text
data/*.json filter=lfs diff=lfs merge=lfs -text
data/*.geojson filter=lfs diff=lfs merge=lfs -text
data/**/*.json filter=lfs diff=lfs merge=lfs -text
data/**/*.geojson filter=lfs diff=lfs merge=lfs -text
data/**/**/*.json filter=lfs diff=lfs merge=lfs -text
data/**/**/*.geojson filter=lfs diff=lfs merge=lfs -text
